<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

Hi <%= @user.name %>,

Thank you for registering at our website.
Your password is <%= @user.password %>

